.HomePage {

  display: flex;
  overflow: hidden;

  .line {
    overflow: scroll;
    flex-grow: 1;
    display: flex;
  }

  .side {
    overflow: scroll;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
  }

  .message {
    color: #ff055a;
  }

  .main-title {
    font-family: 'Baloo 2', cursive;
    font-size: 3rem;
  }

}