.ArtlineSVG {

  width: 100%;

  .item-tail {
    stroke: #a471f2;
    stroke-width: 2px;
  }

  .select-tail {
    fill: rgba(164, 113, 242, 0.73);
  }

  .down-arrow, .up-arrow {
    fill: #575759;
    transform: scale(0.05, 0.05);
  }

  .up-arrow {
    transform: scale(0.05, 0.05) scale(1, -1) translate(0, -454px);
  }

  .year {
    stroke: #575759;
    stroke-width: 2px;
    fill: white;
  }

  .item.year {
    stroke: #1890ff;
  }

  .year-text {
    font-weight: bold;
    fill: rgba(0, 0, 0, 0.65);
  }
}